/** @format */

:root {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #f7f7f7;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
}

body {
	margin: 0;
}

.inter-paragrapgh {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 100;
	font-style: normal;
	font-variation-settings: "slnt" 0;
}
